<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/style/style.css' | relative_url }}">
    <title>{{ site.title | default: site.github.repository_name }}</title>
    {% seo %}
  </head>

  <body>

    {% include heading.html %}

    <div class="container">
      <div id="inner">
      <header class="site-header">
        {% assign resolved_description = page.description | default: site.description | default: site.github.project_tagline %}
        <h1>{{ page.title | default: site.title | default: site.github.repository_name}}</h1>
        {% if resolved_description != blank %}
        <h2>{{ resolved_description }}</h2>
        {% endif %}
      </header>
      <hr>
      <section id="main_content">
        {{ content }}
      </section>
        {% include footer.html %}
      </div>
    </div>

  </body>
</html>